<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">View Project:  <b>{{project.title}}</b></h2>
    </div>
    <div class="panel-body">

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="budget">Budget :</label>
                        <span id="budget" class="form-control">{{project.budget}}</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="duration">Duration:</label>
                        <span id="duration" class="form-control">{{project.duration}}</span>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <div class="container">
                        <button class="btn btn-default" ng-click="back()">Back</button>
                    </div>
                </div>
            </div>

    </div>
</div>