<div class="panel-heading">
    <h2 class="panel-title">Add new project</h2>
</div>

<form>
    <div class="panel-body">
        <div class="row" id="paddingForDiv">
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <div><h3>Add project</h3></div>
                <div class="row">
                    <div class="form-group">
                        <label for="title">Title :</label>
                        <input id="title" name="title" type="text" class="form-control" placeholder="Title: " ng-model="project.title" required />
                    </div>
                </div>
                <div class="row"> 
                    <div class="form-group">
                        <label for="budget">Budget :</label>
                        <input id="budget" name="budget" type="text" class="form-control" placeholder="Budget: " ng-model="project.budget" required />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="duration">Duration:</label>
                        <input id="duration" name="duration" type="text" class="form-control" placeholder="Duration: " ng-model="project.duration" required />
                    </div>
                </div>
                <div class="row">              
                    <div class="form-group">
                        <label for="domain">Domain:</label>
                        <input id="domain" name="domain" type="text" class="form-control" placeholder="Domain: " ng-model="project.domain" required />
                    </div>
                </div>   
                <div class="row">                   
                    <div class="form-group">
                        <label for="objective">Objective:</label>
                        <input id="objective" name="objective" type="text" class="form-control" placeholder="Objective: " ng-model="project.objective" required />
                    </div>                 
                </div>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-4">                    
                <div class="row"><h3>Project Partners</h3>
                    <div class="row">              
                        <div class="form-group">
                            <label for="partnerName">Name: </label>
                            <input id="partnerName" name="partnerName" type="text" class="form-control" placeholder="Partner Name: " ng-model="partner.name" required />
                        </div>
                    </div>   
                    <div class="row">                   
                        <div class="form-group">
                            <label for="leader">Objective:</label>
                            <input id="leader" name="leader" type="text" class="form-control" placeholder="Leader: " ng-model="partner.leader" required />
                        </div>                 
                    </div>
                    <span class="col-lg-3"><a class="btn btn-default btn-xd" role="button" ng-click="addPartner()">Add Partner</a></span>
                </div>
                <div class="row"><h3>Project Stages</h3>
                    <div class="row">              
                        <div class="form-group">
                            <label for="stageName">Name: </label>
                            <input id="stageName" name="stageName" type="text" class="form-control" placeholder="Stage Name: " ng-model="stage.name" required />
                        </div>
                    </div>   
                    <div class="row">                   
                        <div class="form-group">
                            <label for="stageDuration">Stage Duration: </label>
                            <input id="stageDuration" name="stageDuration" type="text" class="form-control" placeholder="Stage Duration: " ng-model="stage.duration" required />
                        </div>                 
                    </div>
                    <div class="row">                   
                        <div class="form-group">
                            <label for="description">Description: </label>
                            <input id="description" name="description" type="text" class="form-control" placeholder="Stage Description: " ng-model="stage.description" required />
                        </div>                 
                    </div>
                    <span class="col-lg-3"><a class="btn btn-default btn-xd" role="button" ng-click="addStage()">Add Stage</a></span>
                </div>
            </div>

            <div class="col-lg-1"></div>

        </div>
        <div class="row">
            <div class="form-group">
                <div class="container">
                    <span class="col-lg-3"><a class="btn btn-primary btn-xd" role="button" ng-click="create(project)" ng-disabled="projectForm.$invalid">Save</a></span>
                    <span class="col-lg-3"><a class="btn btn-default btn-xd" role="button" ng-click="reset()">Reset</a></span>
                </div>
            </div>
        </div>
    </div>
</form>